body {
    margin: 0%;
}

main {
    display: flex;
}
header {
    background-color: orangered;
    height: 10vh;   
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: aqua;
    text-transform: uppercase;
    height: 350px;
    overflow: hidden;
}

footer {
    background-color: blueviolet;
    height: 10vh;
}

aside {
    height: 350px;
    text-align: center;
}

#aside-right {
    background-color: hotpink;
}

#aside-left {
    background-color: green;

}

* {
    color: white;
    font-size: 4vh;
    text-align: center;
}



@media (min-width: 992px) {
    #aside-right {
        float: right;
    }
    #aside-left {
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    main {
        display: block;
    }
    
    article {
        width: 80%;
    }

    #aside-right {
        width: 20%;
        float: right;  
    }

    #aside-left {
        float: none;
        width: 100%;
        
    }
    
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    article {
        order: 1;
    }
    aside {
        float: none;
    }
    #aside-right {
        width: 100%; 
        order: 3; 
    }

    #aside-left {
        width: 100%;
        order: 2;
    }

}
